*.sqlite3
*.pyc
*~
__pycache__
.idea/
.vscode/
/digitalrush/secret.py
/digitalrushenv/
migrations
/static/assets/libs/
/node_modules/
/package.json
/package-lock.json


#Uncoment and delete to deploy
/devmanage.py
/digitalrush/devsettings.py
/digitalrush/devurls.py
/static/assets/sass/
/static/assets/js/
/static/static/
/.bowerrc
/gulpfile.js
/README.md