# IDE
.idea/

# Python
*.pyc
__pycache__

# Django
/drenv/
migrations/
/digitalrush/devsettings.py
/digitalrush/devurls.py
/digitalrush/secret.py
/static/assets/libs/
/static/assets/sass/
/static/assets/js/
/static/static/
/devmanage.py
/requirements-dev.txt

# Other
/node_modules/
/.bowerrc
/gulpfile.js
/package.json
/package-lock.json
/README.md