{% extends 'base.html' %}
{% load static %}

{% block canonical %}<link rel="canonical" href="https://digitalrush.ru/contacts"/>{% endblock %}
{% block title %}<title>Контакты 📞 агентства DigitalRush</title>{% endblock %}
{% block description %}<meta name="description" content="Контакты digital-агентства DigitalRush. Звоните +7(911)559-66-16.">{% endblock %}
{% block keywords %}<meta name="keywords" content="контакты, digital-агентство">{% endblock %}
{% block og %}
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="DigitalRush">
    <meta property="og:title" content="Контакты агентства DigitalRush">
    <meta property="og:url" content="https://digitalrush.ru/contacts">
    <meta property="og:locale" content="ru_RU">
    <meta property="og:image" content="https://digitalrush.ru/static/img/og.png">
    <meta property="og:image:width" content="537">
    <meta property="og:image:height" content="240">
{% endblock %}

{% block content %}
    <section class="section__black">
        <p class="size-header bg-black"></p>
        <h1 class="text-center"><p class="pt-5 pb-5 bg-primary">КОНТАКТЫ</p></h1>
        <h2 class="text-center"><p class="pt-5 pb-4">КАК С НАМИ СВЯЗАТЬСЯ?</p></h2>
        <div class="row align-self-center">
            <div class="col-lg-6 text-center pt-3 pb-4">
                <i class="far fa-address-book fa-10x"></i>
            </div>
            <div class="col-lg-6">
                <div itemscope itemtype="http://schema.org/Service" class="line">
                    <p><i class="fas fa-at"></i> info@digitalrush.ru</p>
                    <p itemprop="areaServed"><i class="fas fa-map-marker-alt"></i> г. Архангельск</p>
                    <p>-----------------------</p>
                    <a href="https://vk.com/digitalrushru" target="_blank" rel="noopener" aria-label="Vk" class="social"><i class="fab fa-vk fa-2x"></i></a>
                    <a href="https://instagram.com/digitalrushru" target="_blank" rel="noopener" aria-label="Instagram" class="social"><i class="fab fa-instagram fa-2x"></i></a>
                    <a href="https://www.facebook.com/groups/digitalrushru/about/" target="_blank" aria-label="Facebook" rel="noopener" class="social"><i class="fab fa-facebook fa-2x"></i></a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}