{% extends 'base.html' %}
{% load static %}

{% block canonical %}<link rel="canonical" href="http://digitalrush.ru/development"/>{% endblock %}
{% block title %}{% endblock %}
{% block description %}<meta name="description" content="">{% endblock %}
{% block keywords %}<meta name="keywords" content="">{% endblock %}

{% block content %}
    <section class="section__black">
        <p class="size-header bg-dark"></p>
        <h1 class="text-center"><p class="pt-5 pb-5 bg-primary">РАЗРАБОТКА САЙТА</p></h1>
        <h2 class="text-center pt-5 pb-4">ПРЕИМУЩЕСТВА РАБОТЫ С НАМИ!</h2>
        <div class="row align-items-center">
            <div class="col-lg">
                <ul>
                    <li>
                        <p class="text-indent">
                            • Мы помогаем начинающим и опытным предпринимателям в привлечении покупателей через
                            интернет, посредством создания и продвижения сайтов.
                        </p>
                    </li>
                    <li>
                        <p class="text-indent">
                            • Главная тенденция сохранения ресурсов последнего времени — это автоматизация. Мы
                            автоматизировали многие процессы, благодаря чему Вы экономите на поддержке сайта.
                        </p>
                    </li>
                    <li>
                        <p class="text-indent">
                            • В отличие от практически всех студий — разработчиков на битрикс, нам не нужно покупать
                            лицензию для каждого отдельного проекта, что позволяет Вам сильно сэкономить на конечной
                            стоимости.
                        </p>
                    </li>
                    <li>
                        <p class="text-indent">
                            • В эпоху хакеров и интернет-мошенников колоссальную роль играет защита! На нашей стороне
                            совершенные алгоритмы защиты сайта от взлома.
                        </p>
                    </li>
                    <li>
                        <p class="text-indent">
                            • Базовая SEO оптимизация предусмотрена для сайта любого типа.
                        </p>
                    </li>
                    <li>
                        <p class="text-indent">
                            • Кроссбраузерность сайта. Правильное отображение во всех браузерах.
                        </p>
                    </li>
                    <li>
                        <p class="text-indent">
                            • Даже при заказе одностраничного сайта Вам может быть доступна CMS — система для удобства
                            наполнения и кастомизации сайта.
                        </p>
                    </li>
                </ul>
            </div>
            <div class="col-lg order-first order-lg-last text-center pb-4">
                <i class="fas fa-project-diagram fa-10x"></i>
            </div>
        </div>
    </section>
    <section class="section__black">
        <h2 class="text-center pt-5 pb-4">ПРОЦЕСС РАЗРАБОТКИ</h2>
        <div class="row align-items-center">
            <div class="col-lg text-center pb-4">
                <i class="fas fa-align-justify fa-10x"></i>
            </div>
            <div id="accordion" class="col-lg">
                <div class="card">
                    <div class="card-header">
                        <a class="card-link" data-toggle="collapse" href="#collapseOne">
                            <p class="stages">1 этап — Составим полное техническое задание</p>
                        </a>
                    </div>
                    <div id="collapseOne" class="collapse show" data-parent="#accordion">
                        <div class="card-body">
                            Мы подробно разберемся в специфике создания сайта конкретно для Вас. Вместе определим
                            какие цели Вы ставите перед будущим ресурсом. В результате чего разработаем техническое
                            задание.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
                            <p class="stages">2 этап — Создадим индивидуальный макет и разберем необходимый функционал
                            </p>
                        </a>
                    </div>
                    <div id="collapseTwo" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                            Сделаем макет сайта, с учетом современных тенденций и Ваших пожеланий. Рассмотрим
                            необходимые инструменты и технологии для полноценного функционирования.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
                            <p class="stages">3 этап — Реализуем структуру и дизайн сайта</p>
                        </a>
                    </div>
                    <div id="collapseThree" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                            Мы разработаем все необходимые компоненты, в соответствии самым современным техническим
                            и эстетическим требованиям. Организуем покупку и настройку хостинга и домена.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="collapsed card-link" data-toggle="collapse" href="#collapseFour">
                            <p class="stages">4 этап — Протестируем и представим Вам готовый сайт "под ключ"</p>
                        </a>
                    </div>
                    <div id="collapseFour" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                            Проверим проект на ошибки в виртуальной среде, измерим производительность и в завершение
                            продемонстрируем, как пользоваться Вашим ресурсом.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section__black">
        <h2 class="text-center pt-5 pb-4">РАЗНОВИДНОСТИ САЙТОВ</h2>
        <div class="row">
            <div class="col-md mb-3">
                <div class="card border-primary mb-3 size-content">
                    <div class="card-header bg-primary border-primary">
                        <h5 class="pt-4 pb-4">Лендинг</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            Лендинг пейдж нужен для презентации одного товара или услуги. Такой сайт включает в
                            себя одну страницу и дает возможность сконцентрироваться на определенных преимуществах
                            товара или услуги. Лендинг всем своим видом подталкивает пользователя позвонить по
                            указанному номеру или оставить свои контактные данные.
                        </p>
                    </div>
                    <div class="card-footer bg-transparent border-primary">
                        <a href="{% url 'landing' %}">
                            <strong>Подробнее</strong>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md mb-3">
                <div class="card border-primary mb-3 size-content">
                    <div class="card-header bg-primary border-primary">
                        <h5 class="pt-4 pb-4">Сайт-визитка</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            Цель такого сайта кратко продемонстрировать название организации, ее описание, вид
                            деятельности, показать товары или услуги, контактные данные. Сайт-визитка состоит из одной
                            или небольшого количества страниц, поэтому информация на нем лаконично укомплектована,
                            но в то же время раскрыта. Для посетителя интерфейс сайтов-визиток
                            удобен и человек моментально сориентируется.
                        </p>
                    </div>
                    <div class="card-footer bg-transparent border-primary">
                        <a href="{% url 'card' %}">
                            <strong>Подробнее</strong>
                        </a>
                    </div>
                </div>
            </div>
            <div class="w-100"></div>
            <div class="col-md mb-3">
                <div class="card border-primary mb-3 size-content">
                    <div class="card-header bg-primary border-primary">
                        <h5 class="pt-4 pb-4">Сайт-каталог</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            Сайт-каталог позволяет найти и выбрать продукцию. Ключевая часть такого сайта
                            заключается в удобной для пользователя демонстрации товаров. Сайт упорядочивает
                            многообразие продукции и увеличивает скорость поиска. Каталог товаров позволит Вам
                            показать весь ассортимент в выгодном ключе. Для коммуникации продавца и клиента на
                            сайте-каталоге стоит форма обратной связи.
                        </p>
                    </div>
                    <div class="card-footer bg-transparent border-primary">
                        <a href="{% url 'catalog' %}">
                            <strong>Подробнее</strong>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md mb-3">
                <div class="card border-primary mb-3 size-content">
                    <div class="card-header bg-primary border-primary">
                        <h5 class="pt-4 pb-4">Интернет-магазин</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            Такой сайт предназначен для презентации и продажи товаров или услуг. В интернет-магазине, в
                            отличие от сайта-каталога, можно не только выбрать продукцию из списка, но и сразу же
                            оплатить покупку и доставку до нужного места. Так же, сайт обладает корзиной и личным
                            кабинетом покупателя.
                        </p>
                    </div>
                    <div class="card-footer bg-transparent border-primary">
                        <a href="{% url 'online_store' %}">
                            <strong>Подробнее</strong>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}