{% extends 'base.html' %}
{% load static %}

{% block canonical %}<link rel="canonical" href="http://digitalrush.ru/development/landing"/>{% endblock %}
{% block title %}<title>Создание лендинга Архангельск | Закать лендинг пейдж</title>{% endblock %}
{% block description %}<meta name="description" content="Разработка лендинга под ключ 🔑 от ведущего digital-агентства DigitalRush — это залог успеха Вашего бизнеса.">{% endblock %}
{% block keywords %}<meta name="keywords" content="лендинг, создание лендинга, заказать лендинг, разработка лендинга, лендинг под ключ, лендинг пейдж">{% endblock %}
{% block og %}
<meta property="og:type" content="website">
<meta property="og:site_name" content="DigitalRush">
<meta property="og:title" content="Создание лендинга под 🔑">
<meta property="og:url" content="http://digitalrush.ru/development/landing">
<meta property="og:locale" content="ru_RU">
<meta property="og:image" content="http://digitalrush.ru/static/img/og.png">
<meta property="og:image:width" content="537">
<meta property="og:image:height" content="240">
{% endblock %}

{% block content %}
    <section class="section__black">
        <p class="size-header bg-black"></p>
        <h1 class="text-center"><p class="pt-5 pb-5 bg-primary">ЛЕНДИНГ</p></h1>
        <div class="row align-items-center">
            <div class="col-lg-6 text-center pb-4">
                <i class="fas fa-laptop fa-10x"></i>
            </div>
            <div class="col-lg-6">
                <p class="text-indent">
                    <b>Лендинги</b> или же <b>Целевые страницы</b> служат разным целям. Но главная задача — привести
                    Ваших посетителей к цели, отсюда и название.
                </p>
                <p class="text-indent">
                    Если Вы собираетесь запустить онлайн-маркетинговую кампанию, ключевым фактором будет размещение в
                    поисковых системах, баннеры и обновления в блогах. Но сайт не будет полностью успешным, если Вы не
                    направите клиента на конкретное действие.
                </p>
                <p class="text-indent">
                    Как уже известно, лендинг — это страница, на которую приходит клиент после нажатия на Вашу рекламу.
                    Он должен убедить пользователя остаться, заполнить форму, предоставить личные данные, что-то купить
                    или быть готовым прочитать информацию.
                </p>
                <p class="text-indent">
                    Мы предлагаем безошибочный гарантированный метод создания целевой страницы высшего качества, которая
                    поможет Вам достичь всех ваших бизнес-целей. Сосредоточив внимание на прямом подходе, релевантности
                    и призыве к действию, которое мотивирует клиентов, наши эксперты по лендингам справляются со
                    своей задачей.
                </p>
                <p class="text-indent">
                    Ваш лендинг должен быть удобен для пользователя, убедителен и обеспечивать эстетически приятную
                    презентацию. Мы успешно работаем в балансе с современными технологиями и дизайном.
                </p>
            </div>
        </div>
    </section>
    <section class="section__black">
        <h2 class="text-center pt-3 pb-4">НАСТРОЙТЕ САМИ!</h2>
        <div id="config" class="row justify-content-center">
            <div class="col-lg-4 pt-2 border-conf">
                <h5 class="text-center border-bot">Основные опции</h5>
                {% for conf in config_true %}
                    <label for="box-{{ conf.id }}">{{ conf.name }}</label>
                    <input type="checkbox" id="box-{{ conf.id }}" name="bool" value="True" checked/>
                    <label for="box-{{ conf.id }}">+{{ conf.price }} ₽</label>
                    <br>
                {% endfor %}
            </div>
            <div class="col-lg-4 pt-2 border-conf">
                <h5 class="text-center border-bot">Дополнительные опции</h5>
                {% for conf in config_false %}
                    <label for="box-{{ conf.id }}">{{ conf.name }}</label>
                    <input type="checkbox" id="box-{{ conf.id }}" name="bool" value="True"/>
                    <label for="box-{{ conf.id }}">+{{ conf.price }} ₽</label>
                    <br>
                {% endfor %}
            </div>
            <div class="col-lg-8 border-conf">
                <p class="text-center"><b>Итого:</b><label id="total">{{ total }}</label><span class="total"> ₽</span></p>
            </div>
        </div>
    </section>
    <section class="section__black">
        <h2 class="text-center pt-5 pb-4">СМОТРИТЕ ТАКЖЕ</h2>
        <div class="row justify-content-center">
            <div class="col-lg-3 mb-3">
                <div class="card border-primary size-content">
                    <div class="card-header bg-primary border-primary">
                        <h5 class="pt-3 pb-3">Сайт-визитка</h5>
                    </div>
                    <div class="card-footer bg-transparent">
                        <a href="{% url 'card' %}">
                            <strong>Подробнее</strong>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mb-3">
                <div class="card border-primary size-content">
                    <div class="card-header bg-primary border-primary">
                        <h5 class="pt-3 pb-3">Сайт-каталог</h5>
                    </div>
                    <div class="card-footer bg-transparent">
                        <a href="{% url 'catalog' %}">
                            <strong>Подробнее</strong>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mb-3">
                <div class="card border-primary size-content">
                    <div class="card-header bg-primary border-primary">
                        <h5 class="pt-3 pb-3">Интернет-магазин</h5>
                    </div>
                    <div class="card-footer bg-transparent">
                        <a href="{% url 'online_store' %}">
                            <strong>Подробнее</strong>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}