{% extends 'base.html' %}
{% load static %}

{% block canonical %}<link rel="canonical" href="http://digitalrush.ru/promotion/seo"/>{% endblock %}
{% block title %}{% endblock %}
{% block description %}<meta name="description" content="">{% endblock %}
{% block keywords %}<meta name="keywords" content="">{% endblock %}

{% block content %}
    <section class="section__black">
        <p class="size-header bg-black"></p>
        <h1 class="text-center"><p class="pt-5 pb-5 bg-primary">SEO ОПТИМИЗАЦИЯ</p></h1>
        <div class="row align-items-center">
            <div class="col-lg-6 text-center pb-4">
                <i class="fas fa-arrow-alt-circle-up fa-10x"></i>
            </div>
            <div class="col-lg-6">
                <p class="text-indent">
                    <b>Search Engine Optimization (SEO)</b> — продвижение сайта, посредством его внутренней и внешней
                    оптимизации, для выхода на наиболее высокие позиции в органической поисковой выдаче.
                </p>
                <p class="text-indent">
                    SEO очень важный компонент развития Вашего сайта. Главным его преимуществом является то, что он не
                    требует постоянных больших вливаний средств, как в случае с рекламой в интернете. Но при этом
                    результат оптимизации приходится ждать от месяца и более.
                </p>
                <p class="text-indent">
                    Естественно, при грамотной микроразметке, чем выше местоположение ресурса в поисковой выдаче, тем
                    больше у него посетителей. Поэтому SEO — один из ключевых факторов продвижения в интернете.
                </p>
                <p class="text-indent">
                    У нас Вы получаете этот отличный бизнес-инструмент по самым выгодным условиям, в любой нужной для
                    Вас конфигурации.
                </p>
            </div>
        </div>
    </section>
    <section class="section__black">
        <form id="config" method="post">{% csrf_token %}
            <h2 class="text-center pt-3 pb-4">НАСТРОЙТЕ САМИ!</h2>
            <div class="row justify-content-center">
                <div class="col-lg-4 pt-2 border-conf">
                    <h5 class="text-center border-bot">Основные опции</h5>
                    {% for conf in config_true %}
                        <label for="box-{{ conf.id }}">{{ conf.name }}</label>
                        <input type="checkbox" id="box-{{ conf.id }}" name="bool" value="True" checked/>
                        <label for="box-{{ conf.id }}">+{{ conf.price }} ₽</label>
                        <br>
                    {% endfor %}
                </div>
                <div class="col-lg-4 pt-2 border-conf">
                    <h5 class="text-center border-bot">Дополнительные опции</h5>
                    {% for conf in config_false %}
                        <label for="box-{{ conf.id }}">{{ conf.name }}</label>
                        <input type="checkbox" id="box-{{ conf.id }}" name="bool" value="True"/>
                        <label for="box-{{ conf.id }}">+{{ conf.price }} ₽</label>
                        <br>
                    {% endfor %}
                </div>
                <div class="col-lg-8 border-conf">
                    <p class="text-center"><b>Итого:</b><label id="total">{{ total }}</label><span class="total"> ₽</span></p>
                </div>
            </div>
        </form>
    </section>
    <section class="section__black">
        <h2 class="text-center pt-5 pb-4">СМОТРИТЕ ТАКЖЕ</h2>
        <div class="row justify-content-center">
            <div class="col-lg-3 mb-3">
                <div class="card border-primary size-content">
                    <div class="card-header bg-primary border-primary">
                        <h5 class="pt-3 pb-3">SMM продвижение</h5>
                    </div>
                    <div class="card-footer bg-transparent">
                        <a href="{% url 'smm' %}">
                            <strong>Подробнее</strong>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mb-3">
                <div class="card border-primary size-content">
                    <div class="card-header bg-primary border-primary">
                        <h5 class="pt-3 pb-3">Контекстная реклама</h5>
                    </div>
                    <div class="card-footer bg-transparent">
                        <a href="{% url 'context' %}">
                            <strong>Подробнее</strong>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}